h2 {
    color: red;
}

.container[role=main] {
    margin-top: 75px;
}
.register-form{
margin-top: 100px;
     padding: 80px;
  max-width: 400px;
  width: 100% !important;

  margin: 80px auto;


  overflow: hidden;
  font-family: arial;
}
.chirp {
    .margin: 15px 0;
}

.username {
    font-size: 16px;
}

.error-field {
    border-color: red;
}

body {
  background-image: url('') ;
  background color:066cb4;
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-position: 0 50px;
    background-attachment: fixed;
}
.profile-icon {
    background-color:white;
    padding: 20px;
    border: 1px solid #383838;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 30px;
}

.follow{
padding-left:10px;
padding-right:20px;
margin:20px;
}
.lr{
position:absolute;
right:20px;
top:10px;
}

.login{
position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}



