h2 {
    color: red;
}
.register-form {
    margin-top: 200px;
     padding: 100px;
  max-width: 400px;
  width: 100% !important;

  margin: 100px auto;


  overflow: hidden;
  font-family: arial;
}

.chirp {
    .margin: 10px 0;
}

.username {
    font-size: 16px;
}
.form-login{
font-family: arial;
  margin-top: 200px;
     padding: 100px;
  max-width: 400px;
  width: 100% !important;

  margin: 150px auto;


  overflow: hidden;

 }
.row-container {
margin-top:100px;
}
.pull-right{
margin-top:10px;}
.error-field {
    border-color: red;
}